* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  background-color: green;

  margin-top: 40%;
}

h1 {
  color: white;
  text-transform: capitalize;
  width: 50px;
}
